* { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
  
}

p {
  font-size: 13px;
  width: 150px;
  display:flex;
  margin-left: 50px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 32px;
  justify-content: flex-end;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

div.formulario_img {
  display: flow-root;
}
/*
.testBox {
  
  margin: 20px auto;
  width: 343px; 
  height: 560px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}
*/
div.textBox {
  background-color: lightgray;
    display: inline-grid;
    border-radius: 3rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
}

.escucha {
  display: flex;
  padding: 5rem;
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 25px;
  display: flow-root;
}

label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.7em;
	height: 0.40em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 3;
}

input[type=text]{
  width: 180px; 
  height: 40px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: 8px;
  margin-top: 13px; 
  padding-left: 10px;
  
}


#icon {
  display: inline-block;
  width: 40px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 10px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.gender {
  margin-left: 50px;
  margin-bottom: 30px;
}

.accounttype{
  margin-left: 50px;
  margin-top: 20px;
}

a.button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 7px 67px 5px 60px;
    margin: 7px 105px 20px 0px;
    display: flex;
    text-decoration: none;
    border-radius: 8px;
    background-color: #3a57af;
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.3s linear;
    position: relative;
    top: -10px;
    left: 50px;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  
}

a.button:hover {
  top: 0px;
  background-color:#1b3174;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}